<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="./app/views/css/style.css">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
</head>
<body>

  <nav>
    <div class="nav-wrapper black darken-3">
      <a href="#" class="brand-logo center"><img src="app/views/img/logo.png" align="center" alt="logo" width="20%"></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
  </nav>

  <div class="row">
    <div class="col s4">
      <h4 align="center">Base de données</h4>
      <div class="row">
        <form action="index.php?action=test" method="post">
          <div class="input-field col s6">
            <input placeholder="db name" id="db_name" type="text" class="validate" name="db_name">
            <label for="db_name"></label>
          </div>
          <br><input class="btn waves-effect waves-light" type="submit" name="action"></input>
        </form>
      </div>

      <?php echo '<p align="center"><a href="index.php?action=stat">STATISTIQUES</a></p>';?>
      <?php
      $html="";
      foreach($donnees as $lettre)
      {
        $html.="<a href=index.php?action=show&bdd=$lettre>$lettre</a>";
        $html.="<br>";
      }
      echo $html;

      ?>
    </div>

    <div class="col s8">
      <h4 align="center">Informations bases</h4>

      <table class="striped">
        <thead>
          <tr>
            <th data-field="id">Name Tables</th>
            <th data-field="name">Action</th>
            <th data-field="price">Type</th>
            <th data-field="price">Interclassement</th>
          </tr>
        </thead>

        <tbody>
          <?php
          if(isset($result))
          {
            $html="";
            foreach($result as $result2)
            {
              $html.="<tr>";
                $html.="<td>$result2[TABLE_NAME]";
                  $html.="</td>";
                  $html.="<td>
                    <a href='#'<i class='material-icons'>delete</i></a>
                    <a href='#'<i class='material-icons'>visibility</i></a></td>";
                    $html.="</td>";
                    $html.="<td>$result2[TABLE_TYPE]";
                      $html.="</td>";
                      $html.="<td>$result2[TABLE_COLLATION]";
                        $html.="</td>";
                        $html.="</tr>";
                      }

                      echo $html;
                    }
                    ?>
                  </tbody>
                </table>

                <!-- Modal Trigger -->
                <p>Pour supprimer la base</p>
                <a class="waves-effect red btn modal-trigger" href="#modal1">supprimer</a>

                <!-- Modal Structure -->
                <div id="modal1" class="modal">
                  <div class="modal-content">
                    <h4>Supprimer la base de données</h4>
                    <p>Voulez-vous vraiment supprimer la base ?</p>
                  </div>
                  <div class="modal-footer">

                    <a href="index.php?action=delete&bdd=<? echo $_GET['bdd'];?>" class=" modal-action modal-close waves-effect waves-green btn-flat">Valider</a>

                  </div>
                </div>
                <br>Pour renommer la base
                <form action="index.php?action=rename&bdd=<? echo $_GET['bdd'];?>" method="post">
                  <div class="input-field col s6">
                    <input placeholder="db name" id="db_name" type="text" class="validate" name="db_name">
                    <label for="db_name"></label>
                  </div>
                  <br><input class="btn waves-effect waves-light" type="submit" name="action">
                </input>
              </form>
              <br>
              <a class="waves-effect waves-light btn" href="index.php?action=add_table&bdd=<? echo $_GET['bdd'];?>">Ajouter table</a>
            </div>
          </div>
        </body>
        
        <!--  Scripts-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="./app/views/js/materialize.js"></script>
        <script src="./app/views/js/init.js"></script>
        </html>
